.NotesBlock {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
}
.Note {
  border: 2px solid red;
  box-sizing: border-box;
  width: 200px;
  border-radius: 5px;
}
.NoteHeader {
  resize: none;
  font-weight: bold;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
}

.NoteBody {
  resize: none;
  font-weight: normal;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
}

