.NotesBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.NoteWrapper {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
}
.Note {
  border: none;
  box-sizing: border-box;
  width: 200px;
  font-size: 14px;
  font-weight: normal;
  /* max-height: 250px; */
  overflow: hidden;
  position: relative;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis;
  display: inline-block; */
}

.Note.Cropped::after {
  content: '';
  display: block;
  height: 20%;
  left: -15px;
  right: -15px;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  bottom: 0;
  background: linear-gradient(to top,#fff 0,rgba(255,255,255,.9) 5%,rgba(255,255,255,0) 100%);
  /* background: linear-gradient(to top,#fff 0,rgba(255,255,255,.9) 5%,rgba(255,255,255,0) 100%); */
  cursor: pointer;
}

.NoteHeader {
  margin: 0 0 5px;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
}

